* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #cccccc87;
}

header {
  background-color: #006699;
  color: white;
  border-color: #c88851;
  border-width: 5px; 
  border-style: solid;
  padding: 20px;
}

h1 {
    text-align: left;
  }

h2 {
    text-align: center;
  }

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0px;
}

nav li {
  margin-left: 10px;

}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #51b6c8;
  padding: 10px;
}

section {
  margin-top: 20px;
  border-color: #c88851;
  border-width: 5px; 
  border-style: solid;
  padding: 20px;
}

.quienes-box {
  background: #eeeeee;
  margin-bottom: 20px;
  padding: 20px;
}


.profesional {
  flex-wrap: wrap;
  border: 1px solid #ccc;
    background: #eeeeee;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* no se achican */
}

/* Servicios: también en fila, no adaptativos */

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.servicio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #dddddd;
  text-align: center;
  padding: 20px;
}

/* Contacto */
#contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  margin-bottom: 10px;
}

textarea {
  height: 150px;
  width: 300px;
}

.enviarconsulta {
  padding-left: 30px;
  padding-right: 30px;
}

/* Celular: hasta 600px */
@media (max-width: 600px) {
  
  body {
    padding: 0px;
  }

  h1 {
    text-align: center;
  }

  nav  {
    flex-direction: column;
    flex-wrap: wrap;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px;
  }

  nav li {
    display: flex;
    margin-bottom: 5px;
  }

  nav a{
    flex-grow: 1;
    text-align: center;
  }

  section {
    flex: 1 1 100%;
    margin: 0px;
  }

  .profesional{
    align-items: center;
    
  }

  textarea {
    height: 150px;
    width: 190px;
  }

  .contenedor{
    flex-direction: column;
  }

  .servicio{
    flex-grow: 1;
    justify-content: center;
  }
  

}

